@keyframes sliders {
  0% {left: 0%;}
  10% {left: 0%;}
  25% {left: -100%;}
  35% {left: -100%;}
  50% {left: -200%;}
  65% {right: 200%;}
  80% {right: 100%;}
  90% {right: 100%;}
  100% {right: 0%;}
 }